  <h2 class="app-title">Meus Todos</h2>
  <h3>{{title}}</h3>
  <ul>
    <p *ngIf="todos.length == 0 ">Você está em dia :)</p>
    <Li *ngFor="let todo of todos">{{todo.id}} -
       {{todo.title}}
       <button (click)="remove(todo)">Remover</button> 
       <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>
       <button *ngIf="todo.done" (click)="markAsUndone(todo)">Refazer</button></Li>
  </ul>

  <form [formGroup]="form">
      <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="title">
      <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"><br>O título deve conter entre 3 e 60 caracteres<br></small>
      <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </form>


  <footer>
  <h5>Estamos no Angular :) - Hello world! <br> Welcome world to Angular! - 2021</h5>
  </footer>